<footer class="app-footer">
  <div class="container">
    <div class="footer-wrapper">
      <h4 class="copyright">Made by Jason Perrin from 2014&mdash;present</h4>
      <nav class="footer-nav">
        <ul>
          <li><a href="https://github.com/jvperrin" data-tip="GitHub" target="blank" class="social github tooltip"></a></li>
          <li><a href="https://stackoverflow.com/users/1979001/jvperrin" data-tip="Stack Overflow" target="blank" class="social stackoverflow tooltip"></a></li>
          <li><a href="https://www.facebook.com/jasonvperrin" data-tip="Facebook" target="blank" class="social facebook tooltip"></a></li>
          <li><a href="https://twitter.com/jvperrin" data-tip="Twitter" target="blank" class="social twitter tooltip"></a></li>
          <li><a href="https://www.linkedin.com/in/jvperrin" data-tip="LinkedIn" target="blank" class="social linkedin tooltip"></a></li>
          <li><a href="mailto:jason@jvp.io" data-tip="Email" target="blank" class="social email tooltip"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
