<footer class="app-footer">
  <div class="container">
    <div class="footer-wrapper">
      <h4 class="copyright">© Jason Perrin 2014</h4>
      <nav class="footer-nav">
        <ul>
          <li><a href="https://www.facebook.com/jasonvperrin" data-tip="Facebook" class="social facebook tooltip"></a></li>
          <li><a href="https://twitter.com/jvperrin" data-tip="Twitter" class="social twitter tooltip"></a></li>
          <li><a href="https://github.com/jvperrin" data-tip="GitHub" class="social github tooltip"></a></li>
          <li><a href="" data-tip="LinkedIn" class="social linkedin tooltip"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
