<header class="app-header" id="app-header">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <h1><a href="/">{{ site.title }}</a></h1>
      </div>

      <nav class="main-nav">
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav>

      <!-- Mobile Menu Trigger Button -->
      <a class="nav-trigger max-bp3" href="#"></a>
    </div>
  </div>
</header>
