
/* Forms
================================================================ */

form {

/******************************************************************
Start building the basic layout
******************************************************************/

  section {
    margin-bottom: .75em;
  }

  .box {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-transition: .4s;
    transition: .4s;
    padding: .515em;
    background: rgba(0, 0, 0, .05);

    &:focus, &:hover {
      border-color: $brand-1;
    }

    &:focus {
      background: #fff;
    }
  }

  label {
    display: inline-block;
  }

  input {
    display: block;
    -webkit-transition: .4s;
    transition: .4s;

    &[type="checkbox"],
    &[type="radio"] {
      display: inline;
    }

    &[type="submit"], button {
      background: $brand-1;
      border: 0;
      color: #fff;
      padding: .5em 1em;
      display: inline-block;
      width: 100%;
    }

    &:required {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  select {
    color: $main-text-color;

    &.box {
      padding: .44em;
    }
  }

/******************************************************************
Start building for larger resolutions
******************************************************************/

  @media (min-width: $breakpoint-3) {
    input {
      &[type="submit"], button {
        width: auto;
      }
    }
  }
} // End form
