
/* Headings
================================================================ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;

  b {
    font-weight: bolder;
  }

  i {
    font-style: normal;
    color: $brand-1;
  }

  strong {
    text-transform: uppercase;
    font-weight: lighter;
  }

  em {
    font-weight: lighter;
    font-weight: 100;
    font-style: normal;
  }

  p {
    font-weight: normal;
  }

  &.highlight {
    margin-left: .3em;
    margin-right: .3em;
    line-height: 1.45;

    > b {
      background: $brand-1;
      color: #fff;
      font-weight: lighter;
      padding-bottom: 3px;
      -webkit-box-shadow: .3em 0 0 #008db6, -.3em 0 0 #008db6;
      box-shadow: .3em 0 0 $brand-1, -.3em 0 0 $brand-1;
      text-shadow: none;
    }

    @-moz-document url-prefix() {
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 .3em;

      > b {
        box-decoration-break: clone;
      }
    }
  }

  &.dotted {
    border-bottom: 1px dotted rgba(0, 0, 0, .2);
    padding-bottom: .75rem;

    a {
      color: inherit;
    }
  }
} // End h1, h2, h3, h4, h5, h6
