<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <div id="site-content">
      {% include header.html %}

      <div class="container" id="main">
        <nav class="breadcrumb">
          {% if page.title %}
            <ul>
              <li><a href="/">{{ site.title }}</a></li>
              {% if page.id %}
                <li><a href="/blog">Blog</a></li>
              {% endif %}
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            </ul>
          {% endif %}
        </nav>

        {{ content }}

        <hr class="line" />
      </div>

      {% include footer.html %}
    </div>

    <!-- Off Canvas Menu -->
    <nav class="off-canvas-nav">
        <div id="off-canvas-nav"></div>
    </nav>

    <!-- Site Overlay -->
    <div class="site-overlay"></div>
  </body>
</html>
