<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    <div id="site-content"><!-- For Mobile Menu -->

      {% include header.html %}

      <!-- Main Content -->
      <div class="container" id="main">
        <!-- Breadcrumb -->
        <nav class="breadcrumb">
          {% if page.title %}
            <ul>
              <li><a href="/">{{ site.title }}</a></li>
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            </ul>
          {% endif %}
        </nav>

        {{ content }}

        <hr class="line" />
      </div>

      {% include footer.html %}

    </div><!-- End #site-content -->

    <!-- Off Canvas Menu -->
    <nav class="off-canvas-nav">
        <div id="off-canvas-nav"></div>
    </nav>

    <!-- Site Overlay -->
    <div class="site-overlay"></div>
  </body>
</html>
